[Desktop Entry]
Type=Application
Exec=/usr/bin/conky -c /home/harper/.conky/clock.conky.conf 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Conky Clock